@import '../../base/variables.scss';
@import '../../base/typography.scss';

.blackButton {
    @include font-style;
    background-color: $black;
    border: none;
    border-radius: 0;
    color: $white;
    font-weight: 600;
    padding: 1rem 2.5rem;
    cursor: pointer;
    text-transform: uppercase;

    &:hover {
        background-color: $focusedBlack;
    }
    
    &:active {
        background-color: $selectBlack;
    }

    &:disabled{
        background-color: $focusedBlack;
        cursor: not-allowed;
    }
}

.inlineButton {
    @include font-style;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 0.688rem;
    font-weight: 600;
    padding: 0;

    &:disabled{
        color: $focusedBlack;
        cursor: not-allowed;
    }
}
