@import '../../base/variables.scss';

.headerWrapper {
    position: absolute;
    margin: 1rem 0 0 1rem;  
    display: flex;
    align-items: flex-start;
    
    button {
        border: 0;
        background-color: transparent;
        cursor: pointer;
    }

    ul {
        margin: 0;
        list-style-type: none;
        padding: 0 0 0 0.5rem;
        li {
            cursor: pointer;
            line-height: 1rem;
            margin-bottom: 0.4rem;
            text-transform: uppercase;
            font-size: 0.875rem;

            a {
                text-decoration: none;
                &:visited {
                    color: $black;
                }
                &.selected {
                    font-weight: bold;
                }
            }
        }
    }
}